:root {
    --azul-claro: #6D99F2;
    --azul-fuerte: #023E73;
    --claro: #F2F2F2;
    --gris: #525050;

    --fuente-principal: 'Oswald', sans-serif;
    --fuente-titulos: 'Roboto', sans-serif;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: var(--fuente-principal);
}

h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.titulo {
    color: var(--gris);
    text-align: center;
    font-family: var(--fuente-titulos);
    font-weight: 900;
}

.titulo::after {
    content: ">";
    color: #99B4BF;
}

.titulo::before {
    content: "<";
    color: #99B4BF;
}

.error::placeholder {
    color: rgb(245, 143, 143);
}

.succes {
    background-color: rgb(2, 62, 115, 10%);
}

/* SECCIONES -----*/


/* HEADER */

.header {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.header-titulo {
    text-align: center;
    line-height: 1.2;
    color: var(--gris);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
    .header-titulo {
        display: block;
        white-space: nowrap;
        width: 19ch;
        animation: typing 2s steps(19),
        blink .5s infinite step-end alternate;
        overflow: hidden;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent
        }
    }
}



.navegacion {
    background-color: var(--azul-fuerte);
    padding: .5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

@media (min-width: 768px) {

    .navegacion {
        flex-direction: row;
        justify-content: space-around;
    }
}

.navegacion__enlace {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    display: block;
}

.navegacion__enlace:hover {
    transform: scale(1.1);
}



/* HERO*/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .contenido-hero {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    }
}

.contenido-hero__img {
    width: 20rem;
}

@media (min-width: 768px) {
    .contenido-hero__img {
        width: 25rem;
        border: 2px solid #fff;
        border-radius: 1rem;
    }
}

.contenido-hero__texto {
    color: white;
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .contenido-hero__texto {
        font-size: 2.5rem;
    }
}

.contenido-hero__lista {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    gap: 1rem;
}

.contenido-hero__enlace {
    color: #fff;
    border-bottom: 5px solid var(--azul-fuerte);
}

.contenido-hero__enlace:hover {
    color: var(--azul-claro);
    border-color: #fff;
}

/* SOBRE MI */

@media (min-width: 768px) {
    .sobre-mi__contenido {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .sobre-mi__img {
        width: 50%;
    }
}

span {
    font-weight: bold;
    font-size: 1.8rem;
}


/* HABILIDADES */

.habilidades {
    background-color: var(--azul-fuerte);
    padding: 1rem 0 2rem 0;
    margin-top: 5rem;
}

.titulo-habilidades {
    color: #fff;
}

.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .contenedor-cards {
        grid-template-columns: repeat(4, 15%);
        grid-auto-flow: column;
    }
}

.card {
    background-color: #fff;
    text-align: center;
    padding: 2rem 0;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .card:hover {
        transform: scale(1.1);
    }
}

.card__texto {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    color: var(--gris);
    margin-top: 1.5rem;
}



/* HOBBIES */

.hobbies {
    padding: 1rem 0 2rem 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.hobbies-card {
    background-color: var(--azul-fuerte);
}

.hobbies-texto {
    color: white;
}


/* FORMACION ACADEMICA */

.formacion {
    background-color: var(--claro);
    padding: 2rem 0;
}

@media (min-width: 768px) {
    .formacion {
        height: 450px;
    }
}

.formacion__card {
    background-color: #fff;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    max-height: 100%;
    height: 150px;
    margin: 0 auto 1.5rem auto;
}

@media (min-width: 768px) {
    .formacion__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    .formacion__contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.formacion-titulo {
    color: var(--gris);
}

.formacion__img {
    width: 10rem;
    padding: 1rem;
}

@media (min-width: 768px) {
    .formacion__img {
        width: 20rem;
    }
}

.formacion__texto {
    color: var(--gris);
    font-size: 2rem;
padding: 1rem;
}

.formacion__texto p {
    margin: 0;
}

.formacion__titulo {
    border-bottom: 1px solid white;
}

.formacion__info {
    color: var(--gris);
    font-weight: bold;
}


/* EXPERIENCIA PROFESIONAL */
@media (min-width: 768px) {
    .proyectos {
        display: flex;
        flex-direction: column;
    }

    .proyecto:nth-child(2),
    .proyecto:nth-child(4),
    .proyecto:nth-child(6) {
        align-self: flex-end;
    }
}


.proyecto {
    background-color: var(--claro);
    border-radius: 1rem;
    margin-bottom: 4rem;
    height: 100%;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.53);
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.53);
}

@media (min-width: 768px) {
    .proyecto {
        display: flex;
        align-items: center;
        width: 70%;
    }
}

.proyecto__img {
    max-width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.proyecto__info {
    padding: 2rem;
}

.proyecto__titulo {
    color: var(--azul-fuerte);
    margin: 0;
}

.proyecto__descripcion {
    color: var(--gris);
    font-family: var(--fuente-titulos);
    font-size: 1.5rem;
}

/* CONTACTO */
.contacto {
    background-color: #fff;
    padding-bottom: 3rem;
}

.formulario {
    max-width: 100%;
    background-color: #fff;
}

@media (min-width: 768px) {
    .formulario {
        max-width: 70%;
        margin: 0 auto;
    }
}

.formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: var(--azul-fuerte);
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.campo label {
    color: var(--azul-fuerte);
    font-family: var(--fuente-principal);
    font-size: 1.8rem;
    font-weight: 700;
}

.campo input,
textarea {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.btn {
    padding: 1rem 4rem;
    border: none;
    background-color: #015fb2;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
}


.btn:hover {
    cursor: pointer;
    background-color: var(--azul-fuerte);
}

.btn-proyectos {
    padding: 1rem;
    border: none;
    background-color: #015fb2;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
    border-radius: 1rem;
}

.btn-proyectos:hover {
    cursor: pointer;
    background-color: var(--azul-fuerte);
}

.btn.btn-desactivado {
    cursor: not-allowed;
    background-color: #1d4b72;
}

/** FOOTER */
.footer {
    background-color: var(--azul-fuerte);
    color: #fff;
    font-family: var(--fuente-titulos);
    padding: 1rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .footer {
        font-size: 2rem;
    }
}

.footer p {
    margin: 0;
}

.footer-enlace {
    color: #fff;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .footer-contenido {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


/*ENVIADO*/

.mensaje-enviado {
    margin: 0;
    background-color: #edecec;
    padding: 4rem 2rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.mensaje-enviado h3 {
    margin: 0;
    font-family: var(--fuente-titulos);
    line-height: 1.2;
    color: var(--azul-fuerte);
    font-weight: bold;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .mensaje-enviado h3 {
        font-size: 3.5rem;
    }
}

.mensaje-enviado p {
    font-family: var(--fuente-principal);
    font-size: 2rem;
}