:root {
  --primario: #d9d9d9;
  --secundario: #ebf1ff;
  --secundarioOscuro: #111111;
  --acentos: #a22c29;
  --blanco: #fff;
  --negro: #080808;

  --fuente-principal: 'Roboto', sans-serif;
  --encabezados: 'Oswald', sans-serif;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.8;
  font-family: var(--fuente-principal);
  background-color: var(--secundarioOscuro);
  color: var(--blanco);
  min-height: 100vh;

  transition: all .5s ease-in;
}


body.modo-claro {
  background-color: #fff;

  & .heading,
  p,
  label {
    color: #333333;
  }

  & li p, input::placeholder, textarea::placeholder {
    color: #fff;
  }

  & input,
  textarea {
    background-color: #777777;
  }
}


h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
  font-family: var(--encabezados);
}

h1 {
  font-size: 3rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

main p.parrafo {
  color: var(--blanco);
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.contenido-centrado {
  text-align: center;
}

.heading {
  margin: 3rem 0;
  color: var(--primario);
}

/** Boton */
.modo-claro .btn {
  color: #333;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1rem 2rem;
  color: var(--blanco);
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid var(--acentos);
  max-width: 100%;
}


.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--acentos);
  transition: .5s ease;
}

.btn:hover {
  color: var(--blanco);
  transition-delay: .5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--acentos);
  transition: .4s ease;
  z-index: -1;
}


.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.iframe {
  width: 100%;
  background-color: #fff;
  margin: 5rem 0 2rem 0;
}

.iframe.iframe-movil {
  width: 50%
}

#btn-vista {
  display: none;

  @media (min-width: 1024px) {
    display: inline-block;
  }
}

.error {
  border: 2px solid #ff5d5d;
  color: #ff5d5d;
}

.error::placeholder {
  color: #ff5d5d;
}

.correcto {
  border: 2px solid #49a649;
}

.alertaEnviado {
  text-align: center;
  background-color: #49a649;
  color: var(--blanco);
  padding: .5rem 0;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  margin-top: 1rem;
}

iframe {
  border-width: 0;
}