:root {
  --primario: #b75c38;
  --secundario: #e1c298;
  --acentos: #5c3e2e;
  --blanco: #fff;
  --negro: #080808;

  --fuente-headings: 'Montserrat', sans-serif;
  --fuente-principal: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  transition: all .5s ease-in-out;
  background: #f8f6f6;
}


body.modo-oscuro {
  background-color: #322d2d;

  .heading,
  h1,
  p {
    color: var(--blanco);
  }

  .sobre {
    background-color: #212121;
  }

  .logo p {
    color: var(--negro);
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuente-headings);
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.heading {
  text-align: left;
  margin: 7rem 0 5rem 0;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading::after {
  content: "";
  display: block;
  width: 15rem;
  height: .5rem;
  background-color: var(--primario);
  margin-top: 1rem;
}