.formulario {
    max-width: 100%;
    margin: 3rem 0;
    @media (min-width: 768px) {
        width: 70%;
    }
}

.formulario fieldset {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--acentos);
    border-radius: 1rem;
}

.formulario legend {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--acentos);
    text-align: center;
    padding: 1rem;
}

input,
textarea {
    all: unset;
    border-radius: .4rem;
    padding: 1rem;
    background-color: #212121;
}

label,
input,
textarea {
    max-width: 100%;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 500;
}

label {
    font-size: 1.8rem;
    color: var(--primario);
}

.botones {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

button {
    all: unset;
    display: inline-block;
}