footer {
    background-color: #000;
    margin-top: 5rem;
}

footer div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    color: var(--blanco);
}

.logo-footer {
    width: 5rem;
    filter: invert(1);
}

.parrafo-footer {
    font-size: 1.5rem;
    font-weight: 700;
}