.header {
    padding: .5rem 0;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--blanco);
    color: var(--negro);

    @media (min-width: 768px) {
        top: 0;
        position: sticky;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 5rem;
}

.logo p {
    margin: 0;
}