.header {
    position: sticky;
    top: 0;
    background-color: #212121;
    z-index: 2;
}

@media (min-width: 768px) {
    .header {
        position: sticky;
        top: 0;
        background-color: #212121;
        z-index: 1;
    }
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: transparent;
    background: linear-gradient(to right, #3e3e91 0%, var(--acentos) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0;
}

.heading:hover {
    color: transparent;
    background: linear-gradient(to left, #292323 0%, var(--acentos) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}