.menuBtn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .menuBtn {
    position: inherit;
    padding: 0;
  }
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--acentos);
  margin: 3px 0;
  transition: 0.4s;
}

@media (min-width: 768px) {
  .bar {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  transition: 0.4s;
  background-color: #222;
  text-align: center;
  z-index: 1;
}

@media (min-width: 768px) {
  .nav {
    position: inherit;
    max-width: 100%;
    width: 95%;
    background-color: transparent;
  }

  .nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.nav.active {
  left: 0;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  padding: 1.5rem;
  margin: 0;
}

@media (min-width: 768px) {
  .nav li {
    padding: 0;
  }
}

.nav a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  transition: all .3s ease-in;
}

.nav a:hover {
  color: #999;
}

li .contacto {
  background-color: var(--acentos);
  color: var(--blanco);
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color .5s ease-in-out;
  font-weight: 500;
}

li .contacto:hover {
  color: var(--negro);
  background-color: var(--primario);
  border: none;
}

.nav li img {
  width: 4rem;
  margin: 0;
  padding: 0;
  display: inline;

  @media (min-width: 768px) {
    width: 6rem;
  }
}

